<h1>ChatSystemAuthenticationTokens#index</h1>
<p>Find me in app/views/chat_system_authentication_tokens/index.html.erb</p>

<ul>
<% @token_records.each do |t| %>
  <li><%= t.created_at %></li>
<% end %>
</ul>
