<div class="container main-container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-md-offset-2">
      <div class="main-panel">
        <div class="panel-body">
          <h2>チャットシステム連携トークンの生成</h2>
          <%= render('form') %>
          <%= render('shared/description_token') %>
        </div>
      </div>
    </div>
  </div>
</div>
