<div>
  <h3>チャットシステムとの連携方法</h3>
  <ol>
    <li>トークンを発行します</li>
    <li>アカウント認証コマンドとともにチャットで発言します</li>
    <li>アカウント作成時に登録したメールアドレスへ、確認が送られます</li>
    <li>メールアドレスに書かれた承認リンクにアクセスします</li>
    <li>トークンが発言されたチャット環境のチャットアカウントと本サービスのアカウントが紐付けられます</li>
  </ol>
</div>
