<div class="container main-container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="main-panel">
        <div class="panel-body">
          <%= render('shared/flash') %>

          <div class="jumbotron">
            <h1>CD2C</h1>

            <ul>
              <li><%= link_to('マイページ', mypage_index_path) %></li>
              <li><%= link_to('オリジナル表', original_tables_path) %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
